@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
.contactlist {
  display: block;
}

.toplist ul {
  list-style: none;
  display: flex;
}
.contgroup h5 {
  font-family: "Prata";
  font-size: 25px;
}
.toplist li {
  padding: 50px 60px;
}
.contgroup p {
  width: 300px;
  font-weight: 100;
}
@media (max-width: 1266px) {
  .toplist li {
    padding: 50px 30px;
  }
  .toplist ul {
    list-style: none;
    display: block;
  }
}
