.containerForPopup{
   position: fixed;
    background: transparent;
    display: flex;
z-index: 80;
    }
    .sliderinfo button:nth-child(4) {
    background: transparent;
    border: 1px solid black;
    width: 100px;
    height: 36px;
    }
    .quickVieww{
   
    padding: 10px 60px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    }
    .popup{
        height: 400px;
    position: absolute;
    width: 670px;
    background: #ffffff;
    border-radius: 6px;
    margin-top: -15%;
   left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    }
    
    .open-popup{
    visibility: visible;
    top: 100%;
    transform: translate(-50%, -50%) scale(1);
  
    }
    
    #firstProductName{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    }

    .popup button{
    align-items: center;
    width: 7%;
    height: 10%;
    margin-top: 20px;
    background: red;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    }