@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
/* html{
    scroll-behavior: smooth;
} */
/*navBar*/
.navBar{
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    position: fixed;
     padding: 11px 50px;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.753);
}
.navcolor2 {
    background-color: #090a0a;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.btn{
    display: none;
}

 .fa-clock{
    color: #38876f;
}

.logo ul{
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
}
.logo li{
    padding: 10px;
}
.logo a{
    text-decoration: none;
} 

.searchvv{
    padding: 0 6px;
    color: white;
    display: none;
}
.logo li h1{
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 17px;
}
@media screen and (max-width:280px) {
    .logo li h1{
        font-size: 13px;
    }
}
.navList ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.navList li a{
    font-size: 15px;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 15px;
}
.navList li a:hover{
    color: #f1c79a;
}
.navList li a:active{
    color: #24604e;
}
.vview-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    border-radius: 10px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.932);
  }
  .vview-link-ltr::before {
    width: 0%;
    bottom: -4px;
  }
  .vview-link-ltr:hover::before {
    width: 60%;
  }
  .buttonShop{
      margin-top: 30px;
    text-align: center;
  }
  .shopNow{
      transition: 0.3s;
      text-align: center;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      background-color: #38876f;

  }
  .shopNow:hover{
      padding: 10px 25px;
      background-color: #24604e;
      color: #fae3ca;
  }
  .shopNow a{
      font-size: 15px;
      text-decoration: none;
      color: #f1c79a;
  }
.searchBox{
    border: 1px solid rgba(255, 255, 255, 0.403);
    border-radius: 30px;
    padding: 5px 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.181);
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    position: relative;
}
.navIconss{
    font-size: 14px;
    display: flex;
    align-items: center;
}

.navIcons li:nth-child(4){
    color: #f1c79a;
}

.searchBox input::placeholder{
    color: rgba(255, 255, 255, 0.81);
}
.searchBox input{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
}
.searchBox button{
    background: none;
}
.navIcons2{
    display: none;
}
.navIcons ul {
    color: white;
    align-items: center;
    display: flex;
    list-style: none;
}
.navIcons2 ul {
    color: white;
    align-items: center;
    display: flex;
    list-style: none;
}
.navIcons li{
    padding: 0 10px;
}
.navIcons2 li{
    padding: 0 10px;
}
.navIcons li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* padding: 0 10px; */
}
.navIcons2 li a{
    color: rgb(255, 255, 255);
    /* padding: 0 10px; */
}
/* //////////////// */
@media screen and (max-width:989px) {
    .navIcons2{
        display: contents;
    }
    .offcanvas{
        display: none;
    }
    .searchvv{
        color: white;
        display: contents;
    }
    .fa-magnifying-glass {
        display: contents;
   } 
     .navIcons li:nth-child(2) {
        display: none;
    }
    #navBar{
        padding: 5px 15px; 
    }
    .btn{
        display: contents;
    }
    
    .navList{
        display: none;
    }
}
.sign{
    border-bottom: 1px solid rgba(128, 128, 128, 0.133);
}
.sign ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.sign li{
    padding: 0 10px;
}
.sign li button{
    transition: 0.3s;
    padding: 5px 60px;
    font-weight: 600;
    background-color: transparent;
    color: #38876f;
    border: 1px solid #38876f;
    border-radius: 0.2875rem;
}
.sign li button:hover{
    background-color: #38876f;
    color: rgb(255, 255, 255);
}
@media screen and (max-width:375px) {

    .sign li button{
        padding: 5px 40px;
    }
}
@media screen and (max-width:280px) {

    .sign li button{
        padding: 5px 35px;
    }
}
.opp{
    border-bottom: 1px solid rgba(128, 128, 128, 0.133);
}
.opp ul{
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    
}
.opp li{
    padding: 0 10px;
}
.opp li button{
    transition: 0.3s;
    width: 150px;
    padding: 10px 0px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-radius: 0.2875rem;
}
.opp li button:hover{
    color: #38876f;
}
/**/ .storeloc{
    border-bottom: 1px solid rgba(128, 128, 128, 0.133);
} 


.chevronbtt{
    margin-top: 90px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.chevronbtt a{
    text-decoration: none;
    color: white;
}
.poplist ul{
    margin: 0;
}
.categ{
    padding: 3px 15px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.133);
}
.categ h4{
    padding-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
.categ h5{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.categ i{
    color: #38876f;
}
.contact{
     border-top: 3px solid rgb(229, 229, 229);
     position: absolute;
     right: 0;
     left: 0;
    bottom: 0;
}
.contact h4{
    margin-bottom: 60px;
    display: block;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 300;
}
.liamo{
 margin-top: 10%;
}
/* section styling */

.sec1{
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
/* .firstbox{
    background-color: #1c1f20;
    height: 90vh;
    width: 400px;
} */
.secondbox{
    position: relative;
    background-color: #000305;
     align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    animation: slide 25s ease-in-out infinite;
    animation-iteration-count: infinite;
    height: 100vh;
    width: 120%;
     opacity: .1; 
}
  @keyframes slide{
    0%{background-image: url('/images/paul-cuoco-CO2vOhPqlrM-unsplash.jpeg');}
    25%{background-image: url('/images/haziq-jb-71_GA1KBf_8-unsplash.jpeg');}
    50%{background-image:url('/images/bradley-ziffer-eAOl9QREIY0-unsplash.jpeg');}
    75%{background-image:url('/images/daniel-hay-O703kpzIsQI-unsplash.jpeg');}
    100%{background-image:url('/images/darryl-low-M85fe7-_nnA-unsplash.jpeg');}
    /* 125%{background-image:url('/images/woodwatch-kSbgs5UPAxo-unsplash.jpeg');}
    150%{background-image:url('/images/daniel-hay-O703kpzIsQI-unsplash.jpeg');}
    175%{background-image:url('/images/darryl-low-M85fe7-_nnA-unsplash.jpeg');}
    200%{background-image:url('/images/woodwatch-kSbgs5UPAxo-unsplash.jpeg');} */
} 

.sec1 h1{ 
    transition: 0.3s;
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 55px;
    color: #f1c79a;
}
.fade-in-text {
    animation: fadeIn 7s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.sec1 p{
    text-align: center;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.855);
}
.sec1 h1 span{
    font-family: 'Nothing You Could Do', cursive;
    color: white;
}
.mover{
    transition: 0.3s;
    margin-top: 200px;
    position: absolute;
    z-index: 30;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
}
.vidGrid{
    transition: 0.3s;
    align-items: center;
    overflow: scroll;
    justify-content: center;
    display: flex;
}
.vidGrid ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.vidGrid li{
    align-items: center;
    padding: 0 20px;
}
.vline{
    transition: 0.3s;
    border-bottom: 2px solid white;
    width: 60px;
}
.gridimg{
    background-image: url(/images/yearone-mFqLyKaiG3I-unsplash.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.407);
    height: 90px;
    width: 100px;
    border-radius: 10px;
}
.gridimg2{
    background-image: url(/images/raphael-bernhart-HNssCFDe4aY-unsplash.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.407);
    height: 90px;
    width: 100px;
    border-radius: 10px;
}
.gridimg3{
    background-image: url(/images/stephen-kong-osRrElG7tGk-unsplash.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.407);
    height: 90px;
    width: 100px;
    border-radius: 10px;
}
.gridimg4{
    background-image: url(/images/vvs-wlCVxwVFg-Q-unsplash.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.407);
    height: 90px;
    width: 100px;
    border-radius: 10px;
}
.gridimg5{
    background-image: url(/images/krismawan-kadek-h1nQyjxyo88-unsplash.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.407);
    height: 90px;
    width: 100px;
    border-radius: 10px;
}
@media screen and (max-width:1290px) {
    .sec1{
        
        height: 100vh;
    }
    .secondbox{
        background-size: 200%;
        height: 100vh;
    }
 
   .mover{
       margin-top: 170px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 40px;
    color: #f1c79a;
}
 }

 @media screen and (max-width:943px) {
     .vline{
         display: none;
     }
     .sec1{
        height: 100vh;
    }
    .secondbox{
        background-size: 200%;
        height: 100vh;
    }
 
   .mover{
       margin-top: 90px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 40px;
    color: #f1c79a;
}
 }

@media screen and (max-width:950px) {
    .vline{
        display: none;
    }
    .sec1{
        height: 100vh;
    }
   .secondbox{
       background-size: 200%;
       height: 100vh;
   }

  .mover{
      margin-top: 150px;
  }
  .sec1 h1{ 
   text-align: center;
   font-family: 'Prata', serif;
   font-size: 40px;
   color: #f1c79a;
}
}

/* @media (max-height:1368px) and (max-width:912px) {
    .secondbox{
        height: 100vh;
    }
    .sec1{
        height: 100vh;
    }
   .mover{
       margin-top: 170px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 43px;
    color: #f1c79a;
} */


@media (max-width:912px) {
    .secondbox{
        background-size: 250%;
        height: 100vh;

    }
    .sec1{
        height: 100vh;
    }
   .mover{
       margin-top: 160px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 43px;
    color: #f1c79a;
}

}
@media  (max-width:820px) {
    .secondbox{
        background-size: 250%;
        height: 100vh;
    } .sec1{
        height: 100vh;
    }
 
   .mover{
       margin-top: 180px;
   }
   .sec1 p {
       font-size: 18px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 30px;
    color: #f1c79a;
}

.vidGrid{
    justify-content: initial;
}
}
@media  (max-width:768px) {
    .secondbox{
        background-size: 200%;
        height: 100vh;
    }
    .sec1{
        height: 100vh;
    }
   .mover{
       margin-top: 160px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 30px;
    color: #f1c79a;
}
.vidGrid{
    justify-content: initial;
}
}
@media  (max-width:581px) {
    .secondbox{
        background-size: 300%;
        height: 100vh;
    } .sec1{
        height: 100vh;
    }
 
   .mover{
       margin-top: 180px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 30px;
    color: #f1c79a;
}
.sec1 p{
    display: none;
}
.vidGrid{
    justify-content: initial;
}
}
@media (max-width:438px) {
    .secondbox{
        background-size: 200%;
        height: 100vh;
    }
    .sec1{
        height: 100vh;
    }
   .mover{
       margin-top: 70px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 25px;
    color: #f1c79a;
}
.vidGrid{
    justify-content: initial;
}
}

@media (max-width:414px) {
    .vline{
        display: none;
    }
    .chevronbtt{
        margin-top: 250px;
        text-align: center;
        color: white;
        font-size: 20px;
    }
   .secondbox{
       background-size: 360%;
       height: 100vh;
   }
   .sec1{
    height: 100vh;
}
  .mover{
      margin-top: 261px;
  }
  .sec1 p{
      display: none;
      font-size: 15px;
  }
  .sec1 h1{ 
   text-align: center;
   font-family: 'Prata', serif;
   font-size: 30px;
   color: #f1c79a;
}
.vidGrid{
    justify-content: initial;
}
.gridimg{
    height: 60px;
    width: 70px;
}
.gridimg2{
    height: 60px;
    width: 70px;
}
.gridimg3{
    height: 60px;
    width: 70px;
}.gridimg4{
    height: 60px;
    width: 70px;
}.gridimg5{
    height: 60px;
    width: 70px;

}
.gridimg{
    height: 60px;
    width: 70px;
}
.gridimg2{
    height: 60px;
    width: 70px;
}
.gridimg3{
    height: 60px;
    width: 70px;
}.gridimg4{
    height: 60px;
    width: 70px;
}.gridimg5{
    height: 60px;
    width: 70px;
}}
@media (max-width:375px) {
    .secondbox{
        background-size: 340%;
        height: 100vh;
    }
    .sec1{
        height: 100vh;
    }
   .mover{
       margin-top: 190px;
   }
   .chevronbtt{
    margin-top: 190px;
    text-align: center;
    color: white;
    font-size: 20px;
}
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 25px;
    color: #f1c79a;
}
.vidGrid{
    justify-content: initial;
}
}
@media (max-width:320px) {
    .secondbox{
        background-size: 130%;
        height: 40vh;
    }
    .sec1{
        height: 40vh;
    }
   .mover{
       margin-top: 80px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 15px;
    color: #f1c79a;
}
.vidGrid{
    justify-content: initial;
}
.gridimg{
    height: 60px;
    width: 70px;
}
.gridimg2{
    height: 60px;
    width: 70px;
}
.gridimg3{
    height: 60px;
    width: 70px;
}.gridimg4{
    height: 60px;
    width: 70px;
}.gridimg5{
    height: 60px;
    width: 70px;
}}

@media screen and (max-width:280px) {
    .secondbox{
        background-size: 360%;
        height: 100vh;
    }
    .sec1{
        height: 100vh;
    }
   .mover{
       margin-top: 80px;
   }
   .sec1 h1{ 
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 15px;
    color: #f1c79a;
}
.sec1 p{
    display: none;
}
.vidGrid{
    justify-content: initial;
}
.vidGrid li{
    padding: 0 15px;
}
}