/* body{
    margin: 0;
    padding: 0;
} */
.section2{
    background-color: white;
    width: 100%;
    overflow: hidden;
}
.brands{
    transition: 0.3s ease-in-out;
    padding-top: 50px;
}
.brands ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.brands li{
    padding: 0 25px;
}
.brands li img{
    width: 70px;
    filter: grayscale(1);
    transition: 0.5s ease-in-out;
}
.brands li img:hover{
    transform: scale(1.2, 1.2);
    filter: grayscale(0);
}
.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all ease-in-out 1.2s;
  }
.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
  }
  @media screen and (max-width:1188px) {
      .section2{
          text-align: center;
      }
      .brands ul{
          
          padding: 0 10px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 40px;

      }
      .brands li{
        padding: 0 10px;}
  }
  @media screen and (max-width:425px) {
    .section2{
        text-align: center;
    }
    .brands ul{
        
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
grid-column-gap: 5px;
grid-row-gap: 40px;

    }
    .brands li{
      padding: 0 10px;}
}